/* You can add global styles to this file, and also import other style files */

.Mgbtn {
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    .MgMobile {
        margin: 30px 0;
    }
    .MgTitle {
        margin-bottom: 0;
    }
    .InputCol {
        width: 100% !important;
    }
}

.MgTitle {
    margin-bottom: 50px;
}

.MgForm {
    margin: auto;
    margin-top: 40vh;
    width: 300px;
}

.InputCol {
    width: 200px;
    display: inline !important;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.RedW {
    color: red;
}

.TasksBtn {
    width: 50%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 6px;
}

.TasksBtn:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
    cursor: pointer;
}

.TasksActive {
    color: #fff;
    background-color: #abb3b9;
    border-color: #9da6af;
    cursor: pointer;
}

ul {
    display: block;
    /* list-style-type: none; */
    margin: 30px 0;
}

li {
    margin: 20px 0;
}

a {
    cursor: pointer;
}
