/* You can add global styles to this file, and also import other style files */

.Mgbtn {
    margin-left: 20px;
}

.MgForm {
    margin: auto;
    margin-top: 40vh;
    width: 300px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}