/* You can add global styles to this file, and also import other style files */

.Mgbtn {
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    .MgMobile {
        margin: 30px 0;
    }
    .MgTitle {
        margin-bottom: 0;
    }
    .InputCol {
        width: 100% !important;
    }
}

.MgTitle {
    margin-bottom: 50px;
}

.MgForm {
    margin: auto;
    margin-top: 40vh;
    width: 300px;
}

.InputCol {
    width: 200px;
    display: inline !important;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.RedW {
    color: red;
}

.TasksBtn {
    width: 50%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 6px;
}

.TasksBtn:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
    cursor: pointer;
}

.TasksActive {
    color: #fff;
    background-color: #abb3b9;
    border-color: #9da6af;
    cursor: pointer;
}

ul {
    display: block;
    /* list-style-type: none; */
    margin: 30px 0;
}

li {
    margin: 20px 0;
}

a {
    cursor: pointer;
}


/* 偶數 */

.list li:nth-child(even) {
    background-color: #abb3b9;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 25%) !important;
}


/* 奇數 */

.list li:nth-child(odd) {
    background-color: #d0d5da;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 25%) !important;
}

.card {
    padding-right: 26px;
}

.TasksBtn,
.btn,
.card,
table,
textarea,
select,
button,
input {
    box-shadow: 0 2px 6px rgb(0 0 0 / 25%) !important;
}

ol {
    padding-left: 0;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}