<h2 class="MgTitle" style="display: inline-block;">指派項目</h2>
<p class="Mgbtn" style="display: inline-block;">
    <span>支援推播:{{TranslationPermission(AppInitInfo.NotificationSup)}}</span>、
    <span>推播權限:{{TranslationPermission(AppInitInfo.NotificationStatus)}}</span>、
    <span>支援背景運作:{{TranslationPermission(AppInitInfo.ServiceWorkSup)}}</span>、
    <span>背景運作狀態:{{TranslationPermission(AppInitInfo.ServiceStatus)}}</span>、
    <span>管理員:{{TranslationPermission(LoginInfo.Admin)}}</span>
</p>
<span *ngIf="!LoginInfo.DisplayName" class="Mgbtn" style="line-height: 37px;">
    您好 {{LoginInfo.DisplayName}}
</span>
<div class="col-xs-12" style="padding: 0 16px;">
    <input *ngIf="!LoginInfo.Admin && !LoginInfo.DisplayName" type="text" placeholder="帳號"
        class="form-control InputCol Mgbtn col-xs-12 col-md-2" id="Account" name="Account"
        [(ngModel)]="LoginInfo.Account" (mouseenter)="HoverClass = 'MouseIn'" (mouseleave)="HoverClass = 'MouseOut'">
    <input *ngIf="!LoginInfo.Admin && !LoginInfo.DisplayName" type="text" placeholder="密碼"
        class="form-control InputCol Mgbtn col-xs-12 col-md-2" id="Password" name="Password"
        [(ngModel)]="LoginInfo.Password" (mouseenter)="HoverClass = 'MouseIn'" (mouseleave)="HoverClass = 'MouseOut'">
    <button *ngIf="!LoginInfo.Admin && !LoginInfo.DisplayName" type="submit"
        class="btn btn-secondary Mgbtn col-xs-12 col-md-2" (click)="FakeLogin()">登入</button>
    <button *ngIf="LoginInfo.Admin || LoginInfo.DisplayName" type="submit"
        class="btn btn-secondary Mgbtn col-xs-12 col-md-2" (click)="FakeLogout()">登出</button>
    <div *ngIf="!LoginInfo.Admin && !LoginInfo.DisplayName" class="form-check Mgbtn" style="display: inline-block;">
        <input class="form-check-input" type="checkbox" [(ngModel)]="RememberMe" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            記住帳號與密碼
        </label>
    </div>
    <div [class]="'Mgbtn '+ HoverClass">清除 Chorme 自動輸入 => 「Shift」+「Delete」(Windows)、「Shift 」+「Fn」 +「Del」(Mac)</div>
    <!-- https://stackoverflow.com/questions/37686772/angular-2-hover-event -->
    <button *ngIf="LoginInfo.Admin" type="submit" class="btn btn-secondary Mgbtn col-xs-12 col-md-2"
        [routerLink]="['/edit-task']">新增指派項目</button>
    <button *ngIf="LoginInfo.Admin" type="submit" class="btn btn-secondary Mgbtn col-xs-12 col-md-2"
        [routerLink]="['/users']">控制台</button>
</div>
<hr>
<div style="display:flex;line-height: 50px;">
    <div [ngClass]="{'TasksActive': TasksActive == '進行中'}" class="TasksBtn" (click)="FilterTasks('進行中')">進行中</div>
    <div [ngClass]="{'TasksActive': TasksActive == '結案'}" class="TasksBtn" (click)="FilterTasks('結案')">結案</div>
</div>
<hr>

<ol *ngIf="TasksActive == '進行中'">
    <li class="card" *ngFor="let Task of UndoneTasks;let i = index;">
        <ul>
            <li>
                <button *ngIf="Admin" class="btn btn-secondary" (click)="CloseTask(Task.id)">結案</button>
                <button *ngIf="Admin" class="btn btn-secondary Mgbtn" [routerLink]="['/edit-task']"
                    [queryParams]="{ TaskId: Task.id }">編輯</button>
                <p><span class="RedW">編輯時間</span>：{{Task.Date|date:'[ yyyy-MM-dd ] a hh:mm '}}</p>
                <p><span class="RedW">負責人</span>：{{Task.Principal}}</p>
            </li>
            <li>
                <a (click)="Task.RemarkBtn = !Task.RemarkBtn"> ( 點擊回報 ) <span class="RedW">指派項目</span>：{{Task.Task}}</a>
                <ul class="list" *ngIf="Task.RemarkBtn" style="padding-left: 0;">
                    <li *ngFor="let Remark of Task.Remarks">
                        <p>{{Remark.Date|date:'[ yyyy-MM-dd ] a hh:mm '}}</p>
                        <p>{{Remark.Principal}}：{{Remark.Info}}</p>
                    </li>
                    <hr>
                    <div class="row">
                        <select [disabled]="!LoginInfo.Admin" class="form-control InputCol Mgbtn" id="Principal"
                            [(ngModel)]="TempRemark.Principal">
                            <option value="">請選擇</option>
                            <option *ngFor="let User of UsersInfo;let i = index;" [value]="User.Account">
                                {{User.Account}}
                            </option>
                        </select>
                        <input placeholder="e.g. 已完成" type="text" class="form-control Mgbtn InputCol" id="Remark"
                            name="Remark" [(ngModel)]="TempRemark.Info">
                        <button class="btn btn-secondary Mgbtn" (click)="TaskAddMessage(Task)">回報</button>
                    </div>
                </ul>
            </li>
        </ul>
    </li>
</ol>

<ol *ngIf="TasksActive == '結案'">
    <li class="card" *ngFor="let Task of DoneTasks;let i = index;">
        <ul>
            <li>
                <span class="RedW">編輯時間</span>：{{Task.Date|date:'[ yyyy-MM-dd ] a hh:mm '}}、
                <span class="RedW">負責人</span>：{{Task.Principal}}
            </li>
            <li>
                <a (click)="Task.RemarkBtn = !Task.RemarkBtn"> ( 點擊回報 ) <span class="RedW">指派項目</span>：{{Task.Task}}</a>
                <ul class="list" *ngIf="Task.RemarkBtn" style="padding-left: 0;">
                    <li *ngFor="let Remark of Task.Remarks">
                        <p>{{Remark.Date|date:'[ yyyy-MM-dd ] a hh:mm '}}</p>
                        <p>{{Remark.Principal}}：{{Remark.Info}}</p>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ol>