<form class="MgForm">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">信箱</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="Email">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">密碼</label>
        <input type="text" class="form-control" name="exampleInputPassword1" id="exampleInputPassword1" [(ngModel)]="Password">
    </div>
    <button type="submit" class="btn btn-primary" (click)="Login()">登入</button>
    <button type="submit" class="btn btn-secondary Mgbtn" [routerLink]="['/register']">註冊帳號</button>
</form>