<h1>工作項目列表</h1>
<button type="submit" class="btn btn-secondary Mgbtn" [routerLink]="['/edit-task']">新增工作項目</button>
<button type="submit" class="btn btn-secondary Mgbtn" (click)="ReturnPage()">返回上一頁</button>
<button type="submit" class="btn btn-secondary Mgbtn" (click)="SendResetEmail()">重設密碼</button>
<button type="submit" class="btn btn-secondary Mgbtn" (click)="Logout()">登出</button>
<button type="submit" class="btn btn-secondary Mgbtn" [routerLink]="['/done-tasks']">切換完成頁面</button>
<hr>

<!-- <div class="container">
    <table>
        <tr>
            <th></th>
            <th>日期</th>
            <th>負責人員</th>
            <th>工作項目</th>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-secondary Mgbtn" (click)="Logout()">編輯</button>
            </td>
            <td>2021/12/4</td>
            <td>曾學良</td>
            <td>特車部大門常未鎖問題，請提出解方案</td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-secondary Mgbtn" (click)="Logout()">編輯</button>
            </td>
            <td>2021/12/4</td>
            <td>曾學良</td>
            <td>請回報工具請購進度</td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-secondary Mgbtn" (click)="Logout()">編輯</button>
            </td>
            <td>2021/12/4</td>
            <td>戴敏惠</td>
            <td>請回報十二噸消防車目前位置</td>
        </tr>
        <tr>
            <th col="4">
                <button type="submit" class="btn btn-secondary Mgbtn" (click)="Logout()">增加回復</button>
            </th>
        </tr>
    </table>
</div> -->

<ul>
    <li>
        2021/12/4 曾學良 請回報工具請購進度
        <button type="submit" class="btn btn-secondary Mgbtn" (click)="Logout()">增加回復</button>
        <input style="width: 200px;" type="text" class="form-control" name="exampleInputPassword1" id="exampleInputPassword1">
    </li>
    <ul>
        <li>
            曾學良 退回廠區重新議價 2021/12/04 下午 01:43
        </li>
        <li>
            戴敏惠 <button type="submit" class="btn btn-secondary Mgbtn" (click)="Logout()">結案</button>
        </li>
    </ul>
</ul>
<ul>
    <li>
        2021/12/4 戴敏惠 請回報十二噸消防車目前位置
    </li>
    <ul>
        <li>
            曾學良 退回廠區重新議價 2021/12/04 下午 01:43
        </li>
        <li>
            戴敏惠 <button type="submit" class="btn btn-secondary Mgbtn" (click)="Logout()">結案</button>
        </li>
    </ul>
</ul>