<p>done-tasks works!</p>
<button type="submit" class="btn btn-secondary Mgbtn" (click)="ReturnPage()">返回上一頁</button>
<button type="submit" class="btn btn-secondary Mgbtn" (click)="SendResetEmail()">重設密碼</button>
<button type="submit" class="btn btn-secondary Mgbtn" (click)="Logout()">登出</button>
<hr>

<ul>
    <li>
        2021/12/4 曾學良 請回報工具請購進度
        <button type="submit" class="btn btn-secondary Mgbtn" (click)="Logout()">增加回復</button>
        <input style="width: 200px;" type="text" class="form-control" name="exampleInputPassword1" id="exampleInputPassword1">
    </li>
    <ul>
        <li>
            曾學良 退回廠區重新議價 2021/12/04 下午 01:43
        </li>
        <li>
            戴敏惠 <button type="submit" class="btn btn-secondary Mgbtn" (click)="Logout()">結案</button>
        </li>
    </ul>
</ul>
<ul>
    <li>
        2021/12/4 戴敏惠 請回報十二噸消防車目前位置
    </li>
    <ul>
        <li>
            曾學良 退回廠區重新議價 2021/12/04 下午 01:43
        </li>
        <li>
            戴敏惠 <button type="submit" class="btn btn-secondary Mgbtn" (click)="Logout()">結案</button>
        </li>
    </ul>
</ul>