<form class="MgForm">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">信箱</label>
        <input type="email" class="form-control" name="exampleInputEmail1" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="Email">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">密碼</label>
        <input type="text" class="form-control" name="exampleInputPassword1" id="exampleInputPassword1" [(ngModel)]="Password">
    </div>
    <div class="mb-3">
        <label for="DisplayName" class="form-label">暱稱</label>
        <input type="text" class="form-control" name="DisplayName" id="DisplayName" [(ngModel)]="DisplayName">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary" (click)="Register()">註冊</button>
    </div>
    <button type="submit" class="btn btn-secondary" (click)="ReturnPage()">返回上一頁</button>
</form>